<div id="menu">
    <div class="title">Navigation</div>
    <a class="nav" href="#/posts">Posts</a>
    <a class="nav" href="#/posts/create">Create Post</a>
    <a class="nav" href="#/posts/myposts">My Posts</a>
</div>