@{
	ViewData["Title"] = "Home Page";
}

<div class="homeImage center">
	<img src="http://suspencedesigns.com/wp-content/uploads/2017/10/main-qimg-0102f6e770d2ce1f45bd7066524b8f70.png" alt="...">
	<div class="homeHeader center">
		<h1>WELLCOME</h1>
	</div>
</div>