<section id="welcome">
    <div class="container centered">
        {{> header}}

        {{#if isAuthenticated}}
            {{> contactPage}}
        {{else}}
            {{> loginForm}}
        {{/if}}

        {{> footer}}
    </div>
</section>