@using Teamwork.Services.Teacher.Models
@model TeacherCourseCreateDto

@{
    ViewData["Title"] = "Create Course";
}

<div class="row well">
	<h2>@ViewData["Title"]</h2>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for=@Model.Name class="control-label"></label>
                <input asp-for=@Model.Name class="form-control" />
                <span asp-validation-for=@Model.Name class="text-danger"></span>
            </div>
			<div class="form-group">
				<label asp-for=@Model.Description class="control-label"></label>
				<input asp-for=@Model.Description class="form-control" />
				<span asp-validation-for=@Model.Description class="text-danger"></span>
			</div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn-sm btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn-sm btn-info" asp-action="Index">Back to List</a>
</div>

