<div class="chirper">

    <h2 class="titlebar">{{username}}</h2>

    <form action="#/chirps/create" method="POST" id="formSubmitChirp" class="chirp-form">
        <textarea name="text" class="chirp-input"></textarea>
        <input class="chirp-submit" id="btnSubmitChirp" value="Chirp" type="submit">
    </form>

    <div id="userStats" class="user-details">
        <span>{{chirpsCount}} chirps</span> | <span>{{followingCount}} following</span> | <span>{{followersCount}} followers</span>
    </div>
</div>