@model DeleteUserViewModel
@{
    ViewData["Title"] = "Delete";
}

<h2>Are you sure you want to delete the user @Model.Email?</h2>

<a href="/identity/destroy/@Model.Id" class="btn btn-danger">Delete</a>